@import "@styles/common.scss";

.app {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;
}

.map {
  height: 100%;
}

.walls {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.marker,
.player {
  position: absolute;
}

.marker {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  background-color: transparentize($accent-color, 0.5);
  border: $accent-color .125rem solid;
  border-radius: 1rem;
}

.marker.completed {
  background-color: transparentize($green-color, 0.5);
  border: $green-color .125rem solid;
}

.player {
  width: 26px;
  height: 26px;
  top: calc(100% - 160px);
  left: 736px;
  background-image: url("@assets/animation/stay/frame_0.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.25s ease;
  overflow: hidden;
}

@keyframes frame-animation {
  100% {
    transform: translateX(-400%);
  }
}

/* Анимация движения - начало ------------*/
.player.move {
  animation: player-walk-animation .75s infinite;
}

@keyframes player-walk-animation {
  0% {
    background-image: url("@assets/animation/walk/frame_0.png");
  }
  25% {
    background-image: url("@assets/animation/walk/frame_1.png");
  }
  50% {
    background-image: url("@assets/animation/walk/frame_0.png");
  }
  75% {
    background-image: url("@assets/animation/walk/frame_2.png");
  }
  100% {
    background-image: url("@assets/animation/walk/frame_3.png");
  }
}

/* Анимация движения - конец -------------*/
.player.talk {
  background-image: url("@assets/pers1_says.gif");
}

.player.up {
  transform: rotateZ(0deg);
}

.player.right {
  transform: rotateZ(90deg);
}

.player.down {
  transform: rotateZ(180deg);
}

.player.left {
  transform: rotateZ(-90deg);
}

.marker.female {
  background-image: url("@assets/animation/markers/female/frame_0.png");
  //TODO: оптимизировать анимации. Тормозит.
  //animation: female-marker-animation 3s infinite;
}

@keyframes female-marker-animation {
  0% {
    background-image: url("@assets/animation/markers/female/frame_0.png");
  }

  25% {
    background-image: url("@assets/animation/markers/female/frame_1.png")
  }

  50% {
    background-image: url("@assets/animation/markers/female/frame_2.png");
  }

  75% {
    background-image: url("@assets/animation/markers/female/frame_3.png");
  }

  100% {
    background-image: url("@assets/animation/markers/female/frame_4.png");
  }
}

.marker.male {
  background-image: url("@assets/animation/markers/male/frame_0.png");
}
