@import "@styles/common.scss";

.app {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;
}

.map {
  height: 100%;
}

.transparentMaps {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.marker,
.player {
  position: absolute;
  width: 2rem;
  height: 2rem;
}

.marker {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparentize($accent-color, 0.5);
  border: $accent-color .125rem solid;
  border-radius: 2rem;
}

.marker.completed {
  background-color: transparentize($green-color, 0.5);
  border: $green-color .125rem solid;
}

/* Монетка с анимацией исчезновения */
.coin {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  background-image: url("@assets/coinSprite.png");
  background-size: cover;
  will-change: left, top;
}

.coin.collected {
  opacity: 0;
  animation: coin-collect-animation 0.75s steps(2) infinite;
}

@keyframes coin-collect-animation {
  100% {
    background-position: -100% 0;
  }
}

/* Игрок с анимацией ходьбы */
.player {
  background-size: cover;
  background-image: url("@assets/animation/characterSprite.png");
  will-change: left, top;
}

.player.move {
  animation: player-walk-animation 0.75s steps(4) infinite;
}

@keyframes player-walk-animation {
  100% {
    background-position: -100% 0;
  }
}

/* Анимация движения - конец -------------*/
.player.talk {
  background-image: url("@assets/pers1_says.gif");
}

.player.up {
  transform: rotateZ(0deg);
}

.player.right {
  transform: rotateZ(90deg);
}

.player.down {
  transform: rotateZ(180deg);
}

.player.left {
  transform: rotateZ(-90deg);
}

.marker.female {
  background-image: url("@assets/animation/markers/female/frame_0.png");
  //TODO: оптимизировать анимации. Тормозит.
  //animation: female-marker-animation 3s infinite;
}

@keyframes female-marker-animation {
  0% {
    background-image: url("@assets/animation/markers/female/frame_0.png");
  }

  25% {
    background-image: url("@assets/animation/markers/female/frame_1.png")
  }

  50% {
    background-image: url("@assets/animation/markers/female/frame_2.png");
  }

  75% {
    background-image: url("@assets/animation/markers/female/frame_3.png");
  }

  100% {
    background-image: url("@assets/animation/markers/female/frame_4.png");
  }
}

.marker.male {
  background-image: url("@assets/animation/markers/male/frame_0.png");
}
