@import "@styles/common.scss";


@mixin animatedBackground($image, $steps, $duration: 0.75s) {
  animation: sprite-animation $duration steps($steps) infinite;
  background: $image;
  background-size: cover;
}

.app {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;
}

.map {
  height: 100%;
}

.transparentMaps {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.marker,
.player {
  position: absolute;
}

.marker {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparentize($accent-color, 0.5) !important;
  border: $accent-color .125rem solid;
  border-radius: 2rem;
}

.marker.completed {
  background-color: transparentize($green-color, 0.5) !important;
  border: $green-color .125rem solid;
}

/* Монетка с анимацией исчезновения */
.coin {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  background-image: url("@assets/coinSprite.png");
  background-size: cover;
  will-change: left, top;
}

.coin.collected {
  opacity: 0;
  animation: coin-collect-animation 0.75s steps(2) infinite;
}

@keyframes coin-collect-animation {
  100% {
    background-position: -100% 0;
  }
}

/* Игрок с анимацией ходьбы */
.player {
  background-size: cover;
  background-image: url("@assets/animation/characterSprite.png");
  will-change: left, top;
}

.player.move {
  animation: sprite-animation 0.75s steps(4) infinite;
}

@keyframes sprite-animation {
  from {
    background-position: 0;
  }
  to {
    background-position: -100%;
  }
}

/* Анимация движения - конец -------------*/
.player.talk {
  background-image: url("@assets/pers1_says.gif");
}

.player.up {
  transform: rotateZ(0deg);
}

.player.right {
  transform: rotateZ(90deg);
}

.player.down {
  transform: rotateZ(180deg);
}

.player.left {
  transform: rotateZ(-90deg);
}

.marker.female {
  @include animatedBackground(url("@assets/animation/markers/female/female-stay-sprite.png"), 5, 5s);
}

.marker.male {
  background-image: url("@assets/animation/markers/male/frame_0.png");
}